

vscode-extension/.gitignore
vscode-extension/.yarnrc
vscode-extension/vsc-extension-quickstart.md
vscode-extension/**/.eslintrc.json
vscode-extension/**/*.map
vscode-extension/**/*.ts
vscode-extension/node_modules

laravel-backup/*.log
laravel-backup/.DS_Store
laravel-backup/.env
laravel-backup/.env.backup
laravel-backup/.env.production
laravel-backup/.phpactor.json
laravel-backup/.phpunit.result.cache
laravel-backup//.fleet
laravel-backup//.idea
laravel-backup//.nova
laravel-backup//.phpunit.cache
laravel-backup//.vscode
laravel-backup//.zed
laravel-backup//auth.json
laravel-backup//node_modules
laravel-backup//public/build
laravel-backup//public/hot
laravel-backup//public/storage
laravel-backup//storage/*.key
laravel-backup//storage/pail
laravel-backup//vendor
laravel-backup/Homestead.json
laravel-backup/Homestead.yaml
laravel-backup/Thumbs.db
